.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  @media only screen and (max-width: 28.12em) {
    background-color: black;
    color: white;
    height: 12.5rem;
    padding: 0;
  }

  &__logoIcon {
    margin-left: 3rem;
    height: 5rem;
    width: 5rem;
    @media only screen and (max-width: 37.5em) {
      margin-top: 1.5rem;
    }
  }

  &--overall {
    background-color: black;
  }
  &__searchContainer {
    flex: 0 0 45%;

    @media only screen and (max-width: 37.5em) {
      flex: 0 0 1%;
    }

    &--input {
      width: 80%;
      border: none;
      padding: 1.3rem;
      border-radius: 10rem;
      transition: all 0.4s ease-in-out;
      &:focus {
        outline: none;
        width: 90%;
        z-index: -1;
      }
      &::-webkit-input-placeholder {
        font-size: 1.4rem;
      }
      @media only screen and (max-width: 37.5em) {
        margin-left: 3rem;
      }
    }
    button {
      background: none;
      border: none;
      @media only screen and (max-width: 29.75em) {
        display: none;
      }
    }
    &--searchIcon {
      height: 1.2rem;
      width: 1.2rem;
      transform: translateX(-3.5rem);
      border: none;
      cursor: pointer;
      z-index: 1;
    }
  }

  .logged_in_user--container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: 43.75em) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
    position: relative;
    @media only screen and (max-width: 28.13em) {
    }
    &--user {
      cursor: pointer;
      img {
        border-radius: 100%;
      }
    }
    &--dropdownMenu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 2rem;
      width: 15rem;
      z-index: 1;
      button {
        border: none;
        background: var(--white);
        padding: 0.3rem 2rem;
        width: 100%;
        display: flex;
        cursor: pointer;
      }
      i {
        font-size: 3.5rem;
        position: absolute;
        top: -2rem;
        right: 2.6rem;
      }
    }
    &--item {
      &:not(:last-child) {
        margin-right: 3rem;
        z-index: 1;
        position: relative;
        @media only screen and (max-width: 37.5em) {
          margin-right: 2rem;
        }
        @media only screen and (max-width: 28.13em) {
          margin-right: 0;
        }
        &::after {
          content: "";
          width: 1rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 1rem;
          background-color: var(--orange);
          transform: scale(0, 0);
          z-index: -1;
          padding: 2rem 0;
          transform-origin: 50% 50%;
          transition: transform 0.3s,
            width 0.3s cubic-bezier(0.11, -0.08, 0.43, 1.84) 0.2s;
          @media only screen and (max-width: 37.5em) {
            top: 3rem;
          }
        }
        &:hover::after {
          transform: scale(1, 0.1);
          width: 100%;
          color: white;
        }
      }
      &:last-child {
        border: 3px solid var(--orange);
        padding: 1rem 1.5rem;
        padding-bottom: 1.3rem;
        margin-right: 1rem;
        @media only screen and (max-width: 37.5em) {
          border: none;
          padding: 0;
          margin: 0;
        }
        @media only screen and (max-width: 28.13em) {
        }
      }
    }
    &--text {
      @media only screen and (max-width: 28.13em) {
        font-size: 2.5rem;
      }
    }
  }
}

#myLinks {
  display: none;
  @media only screen and (max-width: 37.5em) {
    padding-top: 3rem;
    display: none;
    flex-direction: column;
    background: black;
  }
}

nav {
  @media only screen and (max-width: 37.5em) {
    background: black;
  }
}

.mobileicon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  i {
    font-size: 5rem;
    cursor: pointer;
  }
  @media only screen and (min-width: 37.56em) {
    display: none;
  }
}
.default {
  @media only screen and (max-width: 37.5em) {
    display: none;
  }
}

.first {
  @media only screen and (min-width: 37.56em) {
    display: none;
  }
}
