// Overall setting for both HTML and body

:root {
  --white: #fff;
  --black: #000000;
  --light-red: #f2dede;
  --orange: #e35522;
  --light-orange: #ff9933;
  --grey: #999999;
  --light-blue: #4285f4;
}

html {
  // 1rem = 10px ~ 62.5%;
  font-size: 62.5%;
  @media only screen and (max-width: 75em) {
    // 1200px
    font-size: 56.25%; //9px
  }
  @media only screen and (max-width: 56.25em) {
    //900px
    font-size: 50%; //8px
  }
  @media only screen and (max-width: 28.12em) {
    //430px
    font-size: 43.75%; //7px
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem; // 16px
  font-weight: 300;
  line-height: 2rem;
  color: #fff;
  @media only screen and (max-width: 37.5em) {
    line-height: 5rem;
  }
}

.header {
  &__logo {
    font-size: 6rem;
    font-family: "Monoton", cursive;
  }
  &__nav {
    &--item {
      &:last-child {
        a:link,
        a:visited {
          color: var(--white);
          font-weight: 100;
        }
      }
    }
    &--text {
      font-size: 1.8rem;
      font-weight: 300;
      font-family: "Palanquin", sans-serif;
      letter-spacing: 0.06em;
    }
  }
  &--dropdownMenu {
    button {
      p {
        font-size: 1.4rem;
        font-family: "Palanquin", sans-serif;
      }
    }
  }
}

.jumbotron-container {
  &--text {
    text-align: center;
    h1 {
      font-size: 4rem;
      font-family: "Work Sans", sans-serif;
      letter-spacing: 0.2rem;
    }
    p {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}

.images__tile {
  &__column {
    &--details {
      p {
        color: var(--white);
        font-weight: 400;
      }
    }
  }
}

.photo__container {
  &--user {
    color: var(--black);
    p {
      &:first-child {
        font-size: 1.9rem;
        font-weight: 400;
      }
    }
  }
  &--photoInfo {
    color: var(--black);
    &__button {
      color: var(--black);
    }
    i {
      color: pink;
    }
  }
}

.third-party {
  p {
    font-size: 1.4rem;
  }
}

.profile__container {
  &--details {
    &-info {
      color: var(--black);
      font-family: "Palanquin", sans-serif;
      button {
        color: var(--grey);
      }
    }
  }
  &-downloads {
    color: var(--black);
    .download--count {
      p {
        font-size: 2rem;
      }
    }
  }
}
