.images__tile {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  &__column {
    margin: 0 1.6rem;
    &--container {
      margin: 1.6rem 0;
    }
  }
}

.loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  .container__button {
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 0.9rem 0.9rem var(--black);
      transform: translateY(-1rem);
    }
  }
}
