.container {
  height: 100vh;
}
.photo__container {
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  &--details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.2rem;
  }
  &--user {
    display: flex;
    align-items: center;
    margin-left: 7rem;
    &__nameDetails {
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
    img {
      margin-right: 1.3rem;
      border-radius: 100%;
    }
  }
  &--photoInfo {
    display: flex;
    align-items: center;
    i {
      margin-right: 0.5rem;
    }
    &__button {
      margin-left: 2rem;
      background-color: var(--white);
      padding: 1.4rem;
      border: 1px solid var(--orange);
    }
  }
}
